@using BiF.Web.Identity
@{
    ViewBag.Title = "BeerItForward | Home";
}

<div style=" width: 800px; margin: auto; ">

    @if (!Request.IsAuthenticated)
    {
        <div class="body-content" style="position: relative;">
            <div style="max-height: 460px; overflow: hidden">
                @Html.Partial("__HomeContent")

            </div>
            <div style="position: absolute; bottom: 0; left: 0; right: 0; background: #012f50; background: linear-gradient(0, #012f50 40%, transparent 100%); text-align: center; height: 150px;">
                <div style="margin-top: 95px">@Html.ActionLink("Login", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account") to View More</div>
            </div>
        </div>
    }

    @if (Request.IsAuthenticated)
    {
        if (!((BifSessionData)ViewBag.Session).HasProfile)
        {
            <div class="notification-content">
                Your Profile is currently incomplete.  In order to participate in this year's Exchange, you must complete a Profile.  @Html.ActionLink("Click here to go to the Profile form", "", "Profile").
            </div>
        }
        else if (((BifSessionData)ViewBag.Session).Approved)
        {
            <div class="notification-content">
                Your participation in this year's Secret Santa Exchange has been approved.  Start pulling together some awesome beers.  We'll let you know when matching is complete.
            </div>

        }

        <div class="body-content" style="position: relative;">
            @Html.Partial("__HomeContent")
        </div>
    }

</div>
