@using BiF.Web.ViewModels.Administration
@model IndexVM


@functions {

    string displayUserStatus(int userStatus) {
        string imgClass = null;
        switch (userStatus) {
            case 1:
                return "icon-userstatus-approved";
            case -1:
                return "icon-userstatus-notapproved";
            default:
                return "icon-userstatus-none";
        }
    }


}

<div class="body-content" style="width: 800px">
    
    <h2>Administration</h2>
    
    <h3>Users</h3>
    <table class="bif-table" style="width: 100%">
        <colgroup>
            <col />
            <col style="width: 100px;" />
            <col style="width: 100px;" />
            <col style="width: 100px;" />
        </colgroup>
        <thead>
            <tr>
                <td>Email</td>
                <td>Profile</td>
                <td>Admin</td>
                <td>Status</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users) {
            <tr data-id="@user.Id">
                <td>@user.Email</td>
                <td>
                    @if (user.HasProfile) {
                        <div class="icon icon-hover icon-profile" onclick="document.location='@Url.Action("", "Profile")/?id=@user.Id'"></div>
                    }
                </td>
            <td>@Html.CheckBox("admin", user.Roles.Any(x => x == "ADMIN"), new { @class="role-checkbox" })</td>
                
                <td>
                    <div id="status_@user.Id" class="icon icon-hover @displayUserStatus(user.UserStatus)" data-status="@user.UserStatus" onclick="setApproval('@user.Id')"></div>
                </td>
                <td>
                    <div class="icon icon-hover icon-delete" onclick="deleteUser(@user.Id)"></div>
                </td>
            </tr>

        }
        </tbody>
    </table>
    
    
    <h3>Secret Santa 2019</h3>
  

    <div>
        @Html.ActionLink("Assign Matches", "Assign", "Exchanges")
        @Html.ActionLink("View Status", "ViewStatus", "Exchanges")
    </div>
    

</div>

<script>
    var approvalTimeout;

    $(function () {
        
        $('.role-checkbox').on('change', function() {
            updateRoles($(this).parents('tr').data('id'), $(this).prop('name'), $(this).prop('checked'));
        });

        $('[name=approved]').on('change', function() {
            updateApproval($(this).parents('tr').data('id'), $(this).prop('checked'));
        });

    });


    function updateRoles(id, role, add) {
        var data = {
            id: id,
            role: role,
            action: add ? 'Add' : 'Remove'
        }
        $.post('@Url.Action("UpdateRoles")', data);
    }

    function setApproval(id) {
        var el = $('#status_' + id);
        el.removeClass(function(i, v) {
            return (v.match(/(^|\s)icon-userstatus-\S+/g) || []).join(' ');
        });

        clearTimeout(approvalTimeout);
        approvalTimeout = setTimeout(() => updateApproval(id), 500);

        console.log(el);
        console.log(el.data('status'));

        switch (parseInt(el.data('status'))) {
            case 0:
                el.addClass('icon-userstatus-approved');
                el.data('status', 1);
                return;
            case 1:
                el.addClass('icon-userstatus-notapproved');
                el.data('status', -1);
                return;
            default:
                el.addClass('icon-userstatus-none');
                el.data('status', 0);
                return;
        }

    }

    function deleteUser(id) {
        var data = {
            id: id
        }
        $.post('@Url.Action("DeleteUser")', data);
    }

    function updateApproval(id) {

        var status = $('#status_' + id).data('status');

        var data = {
            id: id,
            status: status
        }
        $.post('@Url.Action("UpdateApproval")', data);
    }

</script>
