@model BiF.Web.ViewModels.Manage.ChangePasswordVM
@{
    ViewBag.Title = "BeerItForward | Change Password";
}

<div class="body-content" style="width: 500px">
    <h2>Change Password</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

    <div style="margin: auto; width: 360px">

        <div class="form-row" style="margin-bottom: 15px">
            <div class="form-label" style="width: 150px">
                Current Password
            </div>
            <div style="text-align: right">
                @Html.PasswordFor(m => m.OldPassword, new { style = "width: 200px" })
            </div>
        </div>

        <hr />


        <div class="form-row" style="margin-bottom: 15px">
            <div class="form-label" style="width: 150px">
                New Password
            </div>
            <div style="text-align: right">
                @Html.PasswordFor(m => m.NewPassword, new { style = "width: 200px" })
            </div>
        </div>

        <div class="form-row" style="margin-bottom: 15px">
            <div class="form-label" style="width: 150px">
                Confirm New Password
            </div>
            <div style="text-align: right">
                @Html.PasswordFor(m => m.ConfirmPassword, new { style = "width: 200px" })
            </div>
        </div>

    </div>

        <div style="margin-top: 15px; text-align: center">
            <input type="submit" value="Update" />
            <input type="button" value="Cancel" onclick="window.locaation = '@Url.Action("", "Home")'" />
        </div>
    }
</div>
