@model BiF.Web.ViewModels.Manage.IndexVM
@{
    ViewBag.Title = "BeerItForward | Manage";
}

<div class="body-content" style="width: 500px">
    <h3>Manage Account</h3>
    <div>
        <h4>Account Information</h4>
        <hr />
        @Html.ActionLink("Change My Password", "ChangePassword")<br />

        @Html.ActionLink("Change My User Display Mame", "ChangeUsername")<br />

        @Html.ActionLink("Change My Email/Login", "ChangeEmail")

        <h4>Profile</h4>
        <hr />
        @Html.ActionLink("Update Profile", "Index", "Profile")

        @*<h4>Exchanges</h4>
        <hr />
        @Html.ActionLink("View My Exchanges", "Index", "Profile")*@

    </div>
</div>
