@using BiF.Web.ViewModels.Exchanges
@model AssignVM

@{
    ViewBag.Title = "Assign";

    //List<SelectListItem> users = Model.Assignments.Select(x => new SelectListItem {Text = x.SenderUsername, Value = x.SenderId}).ToList();

}

<div class="body-content" style="width: 800px">
    <h2>Assign</h2>
    
    
    <table class="bif-table" style="margin: auto">
        <colgroup>
            <col style="width: 200px" />
            <col style="width: 180px" />
            <col style="width: 236px" />
            <col style="width: 36px" />
            <col style="width: 100px" />
        </colgroup>
        
        <thead>
            <tr>
                <td>
                    Sender
                </td>
                <td>
                    Location
                </td>
                <td>
                    Recipient
                </td>
                <td>Box</td>
                <td>Shipping</td>
            </tr>
        </thead>

        @foreach (Assignment signUp in Model.Assignments)
        {
    <tr id="row_@signUp.SenderId">
        <td>
            <a href="@Url.Action("", "Profile", new { id = signUp.SenderId })" target="_blank">
                @signUp.SenderUsername
            </a>
        </td>
        <td>
            @signUp.SenderLocation
        </td>

        @{
            string text, className, id;
            if (signUp.RecipientUsername == null)
            {
                text = "";
                className = "assign-nomatch";
            }
            else
            {
                className = "assign-match";
                text = signUp.RecipientUsername;
                
            }
        }

    <td class="assign @className" data-id="@signUp.SenderId" data-name="@text" id="assign_@signUp.SenderId">
        
        @*<div>
            <span onclick="assign('@signUp.SenderId')">@text</span>
            @if (signUp.RecipientUsername != null) {
                <div class="icon icon-hover icon-x-red" onclick="unassign('@signUp.SenderId')"></div>
            }
        </div>*@
    </td>

        <td>
            <div class="icon icon-hover icon-untappd" onclick="window.location = '@Url.Action("Box", "Profile", new {id = Model.ExchangeId, userid = signUp.SenderId})'"></div>
        </td>
        <td>
            @if (signUp.Carrier?.ToLower() == "fedex")
            {
                <a href="http://fedex.com/apps/fedextrack/?tracknumbers=@signUp.TrackingNo" target="_blank">@signUp.TrackingNo</a>
            }
            else if (signUp.Carrier?.ToLower() == "ups")
            {
                <a href="https://www.ups.com/track?loc=en_US&tracknum=@signUp.TrackingNo" target="_blank">@signUp.TrackingNo</a>
            }
            else if (signUp.Carrier?.ToLower() == "usps")
            {
                <a href="https://tools.usps.com/go/TrackConfirmAction?tLabels=@signUp.TrackingNo" target="_blank">@signUp.TrackingNo</a>
                        
            }
            else
            {
                @signUp.TrackingNo
            }
        </td>
    </tr>

        }
    </table>    

</div>

<div id="matchAssignmentPrototype" style="display: none; height: 0">
    <div>
        <span onclick="assign('##id##')">##name##</span>
        <div class="icon icon-hover icon-x-red" onclick="unassign('##id##')"></div>
    </div>
</div>

<style>
    .bif-table td {
        text-align: left;
    }

    .bif-table td.assign-match {
        text-align: left;
        cursor: default;
    }

    .bif-table td.assign-match > div {
        display: flex;
        justify-content: space-between
    }

    .bif-table td.assign-nomatch {
        text-align: center;
        color: #fdbc1a;
        font-size: .9em
    }

</style>

@section Scripts {

    <script>

        function writeMatch(name, id) {
            var matchNode = $('#matchAssignmentPrototype').clone();
            if (name === '') {
                matchNode.find('.icon').remove();
                name = 'ASSIGN';
            }
            var matchNodeHtml = matchNode.html().replace('##name##', name).replace(/##id##/g, id);
            return matchNodeHtml;
        }

        $(function() {

            $('.assign').each(function() {
                $(this).html(writeMatch($(this).data('name'), $(this).data('id')));
            });

            $('.recipient-select').on('change', function() {
                var selected = $(this).val();
                $('.recipient-select').each(function(i, v) {
                    $(this).children('option[value=' + selected + ']').prop('disabled', true);
                });
            });


        });

        function assign(id) {
            popup._popup.empty();
            popup._popup.load('@Url.Action("AssignList")/@Model.ExchangeId/' + id, function() {
                popup.Show();
            });

        }

        function saveAssignment() {
            var data = {
                senderId: $('.popup #SenderId').val(),
                recipientId: $('.popup #MatchId').val(),
                exchangeId: @Model.ExchangeId
            };
            var matchUsername = $('.popup #MatchId option:selected').text();

            $.post('@Url.Action("AssignMatch")', data, function(d) {
                if (d.Success) {
                    if ((d.MatchId || '') === '')
                        $('#row_' + d.UserId).children('td').eq(2).removeClass('assign-match').addClass('assign-nomatch').text('ASSIGN');
                    else {
                        $('#row_' + d.UserId).children('td').eq(2).removeClass('assign-nomatch').addClass('assign-match').html(writeMatch(matchUsername, data.senderId));
                    }
                    popup.Hide();
                }
                else {
                    popup.Hide();
                    popup._popup.html(d.ErrorMessage);
                    popup.Show();
                }
            });

        }

        function unassign(id) {
            var data = {
                senderId: id,
                recipientId: null
            }

            $.post('@Url.Action("AssignMatch")', data, function(d) {
                if (d.Success) {
                    $('#row_' + d.UserId).children('td').eq(2).removeClass('assign-match').addClass('assign-nomatch').html(writeMatch('', d.UserId));
                }
                popup.Hide();
            });

        }

    </script>

}
