@using BiF.Web.Utilities
@model BoxBuilder


<table class="bif-table" style="margin: auto">
    <colgroup>
        <col style="width: 150px" />
        <col style="width: 200px" />
        <col style="width: 50px" />
        <col style="width: 150px" />
        <col style="width: 200px" />
    </colgroup>
    <thead>
        <tr>
            <td></td>
            <td>Required</td>
            <td colspan="2">Qualifying</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Ounces</td>
        <td>
            @if (Model.RequiredOunces == null) {
                @:--
            } else {
                @Model.RequiredOunces
                @:oz
            }
        </td>
        <td>
            @{
                string iconClass = Model.MeetsOunces ? "icon-ok" : "icon-no";
            }
            <div class="icon @iconClass"></div>
        </td>
        <td>@(Model.QualifyingOunces ?? 0) oz</td>

        <td>@(Model.TotalOunces ?? 0) oz</td>
    </tr>
    <tr>
        <td>Cost</td>
        <td>
            @if (Model.RequiredCost == null || Model.RequiredCost == 0) {
                @:--
            }
            else {
                @:$@(Model.RequiredCost?.ToString("0.00"))
            }
        </td>
        <td>
            @{
                iconClass = Model.MeetsCost ? "icon-ok" : "icon-no";
            }
            <div class="icon @iconClass"></div>
        </td>
        <td>
            $@(Math.Round(Model.QualifyingCost ?? 0, 2).ToString("0.00"))
        </td>

        <td>
            $@(Math.Round(Model.TotalCost ?? 0, 2).ToString("0.00"))
        </td>
    </tr>
    @if (Model.RequiredBoxRating != null) {

        <tr>
            <td>Box Avg Rating</td>
            <td>
                @if (Model.RequiredBoxRating == null || Model.RequiredBoxRating == 0) {
                    @:--
                } else {
                    @(Model.RequiredBoxRating?.ToString("0.00"))
                }
            </td>
            <td>
                @{
                    iconClass = Model.MeetsBoxRating ? "icon-ok" : "icon-no";
                }
                <div class="icon @iconClass"></div>
            </td>
            <td>@(Math.Round(Model.QualifyingBoxRating ?? 0, 2).ToString("0.00"))</td>

            <td>@(Math.Round(Model.AverageBoxRating ?? 0, 2).ToString("0.00"))</td>
        </tr>
    }
    @if (Model.RequiredBeerRating != null) {

        <tr>
            <td>Beer Min Rating</td>
            <td>
                @if (Model.RequiredBeerRating == null || Model.RequiredBeerRating == 0) {
                    @:--
                } else {
                    @(Model.RequiredBeerRating?.ToString("0.00"))
                }
            </td>
            <td>
                @{
                    iconClass = Model.MeetsBeerRating ? "icon-ok" : "icon-no";
                }
                <div class="icon @iconClass"></div>
            </td>
            <td>@(Math.Round(Model.QualifyingBeerRating ?? 0, 2).ToString("0.00"))</td>

            <td>@(Math.Round(Model.MinimumBeerRating ?? 0, 2).ToString("0.00"))</td>
        </tr>
    }
        
    @if (Model.RequiredUnique != null) {

        <tr>
            <td>Min Unique</td>
            <td>
                @if (Model.RequiredUnique == 0) {
                    @:--
                } else {
                    @Model.RequiredUnique
                }
            </td>
            <td>
                @{
                    iconClass = Model.MeetsUnique ? "icon-ok" : "icon-no";
                }
                <div class="icon @iconClass"></div>
            </td>
            <td>@Model.TotalUnique</td>

            <td>@Model.TotalUnique</td>
        </tr>
    }

    </tbody>
</table>

