@using BiF.Web.ViewModels
@model ProfileVM

<div style="margin: 0 auto; max-width: 800px">

    <h3>Account Information</h3>
        
    <table style="border-width: 0">

        <tr>
            <td>
                <b>Email</b>
            </td>
            <td>
                @Model.Email
            </td>
        </tr>
        <tr>
            <td>
                <b>Full Name</b>
            </td>
            <td>
                @Model.Name
            </td>
        </tr>
        <tr>
            <td>
                <b>Reddit Username</b>
            </td>
            <td>
                @Model.RedditUsername
            </td>
        </tr>
        <tr>
            <td>
                <b>Untappd Username</b>
            </td>
            <td>
                @Model.UntappdUsername
            </td>
        </tr>
            
    </table>
    
    <h3>Shipping Information</h3>

    <table>

        <tr>
            <td>
                <b>Street</b>
            </td>
            <td>
                @Model.Address
            </td>
        </tr>

        <tr>
            <td>
                <b>City</b>
            </td>
            <td>
                @Model.City
            </td>
        </tr>
        <tr>
            <td>
                <b>State</b>
            </td>
            <td>
                @Model.State
            </td>
        </tr>
        <tr>
            <td>
                <b>Zip</b>
            </td>
            <td>
                @Model.Zip
            </td>
        </tr>

        <tr>
            <td>
                <b>Phone</b>
            </td>
            <td>@Model.Phone</td>
        </tr>

        <tr>
            <td colspan="2">
                <b>Delivery Instructions</b><br/>
                @Model.DeliveryNotes
            </td>
        </tr>

    </table>

    <h3>Flavor Preferences</h3>

    <table style="text-align: center">
        <colgroup>
            <col style="width:100px" />
            <col style="width:80px" />
            <col style="width:80px" />
            <col style="width:80px" />
            <col style="width:80px" />
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>LOVE IT!</th>
                <th>Like It</th>
                <th>Maybe</th>
                <th>NO!</th>
            </tr>
        </thead>
        <tbody>
        @foreach (string flavor in Model.Flavors.Keys)
        {
            <tr>
                <td style="text-align: left"><b>@flavor</b></td>
                @Html.Raw(string.Join(Environment.NewLine, Enumerable.Range(1, 4).Select(x => $"<td>{(Model.Flavors[flavor] == x ? "X" : "")}</td>")))
            </tr>
        }
        </tbody>
        <tfoot></tfoot>
    </table>

    
    <div style="margin-top: 15px">
        <b>Previous Experience/References</b><br />
        @Model.References
    </div>
    
    <div style="margin-top: 15px">
        <b>What else should my match know?</b><br/>
        @Model.Comments
    </div>

</div>

