@using BiF.Web.ViewModels
@model ProfileVM

<div style="margin: 0 auto; max-width: 800px">
    <div style="display: flex; justify-content: space-between">

        <div>
            <h3>Account Information</h3>

            <div class="form-row">
                <div class="form-label">
                    Email
                </div>
                <div>
                    @Model.Email
                </div>
            </div>
            <div class="form-row">
                <div class="form-label required">
                    Full Name
                </div>
                <div>
                    @Model.Name
                </div>
            </div>
            <div class="form-row">
                <div class="form-label required">
                    Reddit Username
                </div>
                <div>
                    @Model.RedditUsername
                </div>
            </div>
            <div class="form-row">
                <div class="form-label">
                    Untappd Username
                </div>
                <div>
                    @Model.UntappdUsername
                </div>
            </div>

            <h3>Shipping Information</h3>

            <div class="form-row">
                <div class="form-label required">Street</div>
                <div>
                    @Model.Address
                </div>
            </div>

            <div class="form-row">
                <div class="form-label required">City</div>
                <div>
                    @Model.City
                </div>
            </div>
            <div class="form-row">
                <div class="form-label required">State</div>
                <div>
                    @Model.State
                </div>
            </div>
            <div class="form-row">
                <div class="form-label required">Zip</div>
                <div>
                    @Model.Zip
                </div>
            </div>

            <div class="form-row">
                <div class="form-label">Phone</div>
                <div>@Model.Phone</div>
            </div>

            <div class="form-row" style="flex-direction: column;">
                <div class="form-label" style="width: 100%">Delivery Instructions</div>
                <div style="width: 100%">@Model.DeliveryNotes</div>
            </div>

        </div>

        <div>
            <h3 class="required">Flavor Preferences</h3>

            <table class="bif-table">
                <colgroup>
                    <col style="width:100px" />
                    <col style="width:90px" />
                    <col style="width:90px" />
                    <col style="width:90px" />
                </colgroup>
                <thead>
                    <tr>
                        <td></td>
                        <td>YES!</td>
                        <td>Maybe</td>
                        <td>NO!</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string flavor in Model.Flavors.Keys)
                    {
                        <tr>
                            <td>@flavor</td>
                            @Html.Raw(string.Join(Environment.NewLine, Enumerable.Range(1, 3).Select(x => $"<td>{(Model.Flavors[flavor] == x ? "X" : "")}</td>")))
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>


        </div>

    </div>

    <div class="form-row" style="flex-direction: column; margin-top: 15px">
        <div class="form-label required" style="width: 100%">Previous Experience/References</div>
        <div style="width: 100%">@Model.References</div>
    </div>

    <div class="form-row" style="flex-direction: column; margin-top: 15px">

        <div class="form-label" style="width: 100%">What else should Santa know?</div>
        <div style="width: 100%">@Model.Comments</div>
    </div>

</div>

