@using BiF.Web.ViewModels.Profile
@model BoxVM

@{
    ViewBag.Title = "Box";
}

<div class="body-content" style="width: 800px; position: relative;">

    <h2>Box Builder</h2>
    <h3 class="sub-title">@Model.ExchangeName</h3>

    @if (!Model.IsLocked) {
        <p>
            Search for a beer or add a non-beer item in the form below.  Click "Add" to save the item.  The Summary will auto-update to help you plan your box.
        </p>

        @*<select id="exchangeId">
                <option value="0">-- No Exchange --</option>
                <option value="2" selected>Secret Santa 2019</option>
            </select>*@


        <div class="item-search" style="margin: auto">
            <div class="box-item">
                <input type="hidden" id="addBeerId" />
                <div>
                    <span style="font-size: .6em; font-weight: bold">TYPE</span><br />
                    <select id="addBeerType">
                        <option>Beer</option>
                        <option>Other</option>
                    </select>
                </div>
                <div>
                    <span style="font-size: .6em; font-weight: bold">NAME (UNTAPPD SEARCH)</span><br />
                    <input type="text" id="addBeerName" style="width: 300px" />
                </div>

                <div>
                    <span style="font-size: .6em; font-weight: bold">SIZE</span><br />
                    <input type="text" id="addBeerOunces" style="width: 3em" /> oz
                </div>
                <div>
                    <span style="font-size: .6em; font-weight: bold">COST</span><br />
                    $<input type="text" id="addBeerCost" style="width: 4em" />
                </div>
                <div id="addBeerRating"></div>
                <div>
                    <input type="button" value="Add" style="margin-top: 23px; padding: 1px 2px; width: 100px" onclick="add()" />
                </div>
            </div>
            <div id="searchResults"></div>
        </div>


        <div style="padding-top: 15px; margin-top: 15px; border-top: 1px solid #fff"></div>
    }
    else
    {
        <div class="notification-content">This Exchange is now closed. Your box may no longer be edited</div>
    }
    <table id="boxItems" class="bif-table" style="margin: auto">
        <colgroup>
            <col style="width: 50px" />
            <col style="width: 480px" />
            <col style="width: 90px" />
            <col style="width: 50px" />
            <col style="width: 70px" />
            <col style="width: 36px" />
        </colgroup>
        <thead>
            <tr>
                <td>Type</td>
                <td>Name</td>
                <td>Ounces</td>
                <td>Cost</td>
                <td>Rating</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (BoxItem item in Model.Items)
            {

                <tr id="item_@item.Id" class="item-row">
                    <td>@item.Type</td>
                    <td>@item.Name</td>
                    <td>@(item.USOunces == null ? "" : $"{item.USOunces.Value} oz")</td>
                    <td>$@(item.Cost ?? 0)</td>
                    <td>@(item.UntappdRating == null ? "" : item.UntappdRating?.ToString("0.00"))</td>
                    <td>
                    @if (!Model.IsLocked) {
                        <div class="icon icon-hover icon-x-red" onclick="deleteItem(@item.Id)"></div>
                    }
                    </td>
                </tr>

            }
            <tr id="noItemsRow">
                <td colspan="7" style="text-align: center">Enter an item above and click "Add"</td>
            </tr>

        </tbody>
        <tfoot></tfoot>

    </table>

    <div style="font-size: .9em; font-style: italic; text-align: center">
        U.S. oz cheat sheet:
        750ml = 25.4 oz,
        500ml = 16.9 oz,
        375ml = 12.7 oz,
        330ml = 11.2 oz
    </div>

    <h3>Summary</h3>
    <div id="summary"></div>

</div>



<style>
        .box-item {
            display: flex;
            justify-content: space-between;
        }

        .item-search {
            position: relative;
            width: 700px;
        }

    #searchResults {
        position: absolute;
        display: none;
        left: 88px;
        top: 54px;
        color: #1c4d71;
        background-color: #fff;
        width: 600px;
        border: 1px solid #1c4d71
    }

        #searchResults > div {
            padding: 1px 4px;
            white-space: nowrap;
            overflow: hidden;
        }

            #searchResults > div:hover {
                background-color: #000080;
                color: #fff;
                cursor: default
            }

            #boxItems td:nth-child(2) {
                text-align: left;
            }

    </style>

    @section Scripts {

        <script>

        $(function() {

            updateMessageRow();

            loadSummary();

            $('#addBeerName').on('keyup', function(e) {
                search(e);
            });



            $(document).on('click', '#searchResults > div', function() {
                $('#addBeerName').val($(this).data('name') + " (" + $(this).data('brewery') + ")");
                $('#addBeerId').val($(this).data('id'));
                $('#searchResults').hide();
            });



        });

        var searchTimeout;

        function search(e) {
            if (e.key === "Escape") {
                $('#searchResults').hide();
                return;
            }

            if ($('#addBeerType').val() !== 'Beer')
                return;

            clearTimeout(searchTimeout);
            searchTimeout = setTimeout(doSearch, 500);
        }

        function doSearch() {
            var name = $('#addBeerName').val();

            if ((name || '') === '')
                return;

            var data = { q: name }
            $.get('@Url.Action("SearchAsync", "Untappd")', data, function(d) {
                $('#searchResults').empty();
                $.each(d, function(i, v) {
                    $('#searchResults').append('<div data-id="' + v.Id + '" data-name="' + v.Name + '" data-brewery="' + v.Brewery + '">' + v.Name + ' (' + v.Brewery + ')</div>');
                });
                $('#searchResults').show();

            });

        }

        function add() {
            var data = {
                ExchangeId: @Model.ExchangeId,
                UntappdId: $('#addBeerId').val(),
                Type: $('#addBeerType').val(),
                Name: $('#addBeerName').val(),
                Format: $('#addBeerFormat').val(),
                USOunces: $('#addBeerOunces').val(),
                Cost: $('#addBeerCost').val(),
                UserId: '@Model.UserId'
            }
            $.ajax({
                url: '@Url.Action("AddItem")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (d) {

                    $('#addBeerId, #addBeerName, #addBeerOunces, #addBeerCost').val('');

                    if (d.Success === false) {
                        writeError(d.Message);
                        return;
                    }

                    $('#boxItems').append(
                        '<tr id="item_' + d.Id + '" class="item-row">' +
                        '<td>' + d.Type + '</td>' +
                        '<td>' + d.Name + '</td>' +
                        '<td>' + (d.USOunces === null ? '' : d.USOunces + ' oz' ) + '</td>' +
                        '<td>$' + (d.Cost || 0) + '</td>' +
                        '<td>' + (d.UntappdRating === null ? '' : d.UntappdRating) + '</td>' +
                        '<td><div class="icon icon-hover icon-x-red" onclick="deleteItem(' + d.Id + ')"></div></td>' +
                        '</tr>'
                    );
                    updateMessageRow();
                    loadSummary();
                }
            });

            }

            function deleteItem(id) {
                var data = {
                    id: id
                }
                $.ajax({
                    url: '@Url.Action("DeleteItem")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    success: function (d) {
                        if (d.Success === false) {
                            writeError(d.Message);
                            return;
                        };

                        $('#item_' + id).remove();
                        updateMessageRow();
                        loadSummary();
                    }
                });
            }

            function loadSummary() {
                $('#summary').load('@Url.Action("BoxSummary")/@Model.ExchangeId/@Model.UserId');
        }

        function updateMessageRow() {
            var hasItems = $('.item-row').is('*');
            $('#noItemsRow').toggle(!hasItems);
        }
            
        </script>

    }
