@using BiF.Web.ViewModels
@model ProfileVM

@{
    ViewBag.Title = "BeerItForward | Edit Profile";
}



<div class="body-content" style="width: 800px; position: relative;">

    @Html.ValidationSummary()

    <div style="margin: 0 auto;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            <div style="display: flex; justify-content: space-between">

                <div>
                    <h3>Account Information</h3>

                    <div class="form-row">
                        <div class="form-label">
                            Email
                        </div>
                        <div>
                            @Model.Email
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label required">
                            Full Name
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.Name)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label required">
                            Reddit Username
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.RedditUsername)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label">
                            Untappd Username
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.UntappdUsername)
                        </div>
                    </div>

                    <h3>Shipping Information</h3>

                    <div class="form-row">
                        <div class="form-label required">Street</div>
                        <div>
                            @Html.TextBoxFor(x => x.Address)
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label required">City</div>
                        <div>
                            @Html.TextBoxFor(x => x.City)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label required">State</div>
                        <div>
                            @Html.TextBoxFor(x => x.State, new { style = "width: 2.0em", maxlength = "2" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label required">Zip</div>
                        <div>
                            @Html.TextBoxFor(x => x.Zip, new { style = "width: 5.0em", maxlength = "5" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label">Phone</div>
                        <div>@Html.TextBoxFor(x => x.Phone, new { style = "width: 10.0em", maxlength = "14" })</div>
                    </div>

                    <div class="form-row" style="flex-direction: column;">
                        <div class="form-label" style="width: 100%">Delivery Instructions</div>
                        <div style="width: 100%">@Html.TextAreaFor(x => x.DeliveryNotes, new { style = "width: 100%", maxlength = "4000" })</div>
                    </div>


                </div>

                <div>
                    <h3 class="required">Flavor Preferences</h3>

                    <table class="bif-table">
                        <colgroup>
                            <col style="width:100px" />
                            <col style="width:80px" />
                            <col style="width:80px" />
                            <col style="width:80px" />
                            <col style="width:80px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td></td>
                                <td>LOVE IT!</td>
                                <td>Like It</td>
                                <td>Maybe</td>
                                <td>NO!</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (string flavor in Model.Flavors.Keys)
                            {
                                <tr>
                                    <td>@flavor</td>
                                    @Html.Raw(string.Join(Environment.NewLine, Enumerable.Range(1, 4).Select(x => $"<td><input type=\"radio\" name=\"{flavor}\" value=\"{x}\" {(Model.Flavors[flavor] == x ? "checked" : "")} /></td>")))
                                </tr>
                            }
                        </tbody>
                        <tfoot></tfoot>
                    </table>


                </div>

            </div>

            <div class="form-row" style="flex-direction: column; margin-top: 15px">
                <div class="form-label required" style="width: 100%">Previous Experience/References</div>
                <div style="width: 100%">
                    Have you participated in any BiF exchanges before? Have you done beer trades in the past? Where? Are you a dead beat just looking for some free beer? Previous experience swapping and shipping beer is generally required to participate.
                </div>
                <div style="width: 100%">@Html.TextAreaFor(x => x.References, 3, 0, new { style = "width: 100%", maxlength = "4000" })</div>
            </div>

            <div class="form-row" style="flex-direction: column; margin-top: 15px">

                <div class="form-label" style="width: 100%">What should your match know before packing you a box full of beer?</div>
                <div style="width: 100%">Allergies? Intolerances? Hopes, Dreams, Inspirations?</div>
                <div style="width: 100%">@Html.TextAreaFor(x => x.Comments, 3, 0, new { style = "width: 100%", maxlength = "4000" })</div>
            </div>

            @*<div style="margin-top: 15px">
                <div>
                    <b class="required">Totally Binding Commitment</b><br />
                    By signing up for this exchange you agree to ship at least 125 oz of objectively delicious beer to your match by December 15 (weather permitting). You will be responsible for the contents of the box up until the point the box is delivered undamaged at the recipient's address (hopefully inflicting maximum porch destruction). Failure to fulfill your obligation to meet shipping requirements will result in a ban from future BiF exchanges.
                </div>
                <div style="margin-top: 10px; text-align: left">
                    @Html.CheckBox("issignedup", new { onclick = "signUp()", style = "transform: scale(1.6); margin: 10px 10px 0 0" }) Let's Do This!
                </div>
            </div>*@

            <div style="margin-top: 15px">
                <input type="submit" value="Save" />
                <input type="button" value="Cancel" onclick="history.go(-1)" />
            </div>
        }
        @if (Model.UpdateDate != null)
        {
            @:Last Updated: <span id="updateDate"> </span>
            <script>
                $(function () {
                    $('#updateDate').text(new Date('@Model.UpdateDate UTC').toLocaleString())
                })
            </script>
        }

    </div>
</div>


@section Scripts {
    <script>
        $(function() {
            $('td input[type=radio]').parents('td').on('click', radioCellClickHandler);
        });

        function radioCellClickHandler(e) {
            if(e.target.tagName.toLowerCase() !== 'td')
                return;
            $(this).find('input[type=radio]').click();
        }

    </script>
}

<style>

    .bif-table tbody td:hover {
            background-color: rgba(234, 179, 38, .4);
        }

    .bif-table tbody td:first-child:hover {
            background-color: transparent
        }
</style>
